.card-doc {
  min-width: 50%;
  max-width: 50%;
  max-height: 100%;
  margin-right: 15px;
  padding: 20px;
  margin-left: 7%;
  margin-top: 10px;
}

.card-discussion {
  margin-right: 7%;
  margin-top: 10px;
}
