<div
  class="card"
  (click)="cardClick()"
  [ngStyle]="{ 'background-color': preview_data?.background_color }"
>
  <div class="card-data">
    <div class="overlapping-icon" *ngIf="preview_data?.show_icon">
      {{ preview_data?.new_events_count }}
    </div>
    <img class="card-img" src="{{ preview_data?.img_src }}" />
    <div class="text-1" [ngStyle]="{ color: preview_data?.text_color }">
      {{ preview_data?.text_1 }}
    </div>
    <div class="text-2" [ngStyle]="{ color: preview_data?.text_color }">
      {{ preview_data?.text_2 }}
    </div>
  </div>
</div>
