<mat-card>
    <mat-card-content>

  <!--    <h1 *ngIf="showResolved">&#10003;</h1> -->
      <p>{{discussionData?.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <app-simple-button 
      [btnText]="btnAnswerText" (click)="showAnswerInput()"
      *ngIf="!showResolved"></app-simple-button>
      <app-simple-button  *ngIf="numOfComments > 0" [btnText]="btnSeeCommentsText" (click)="showAnswers()"></app-simple-button>
      <app-simple-button [btnText]="btnChangeDiscussionState" (click)="changeDiscussionState()"></app-simple-button>
    </mat-card-actions>
  </mat-card>

  <br>
  
  <mat-card *ngIf="answerInputShown" style="display: flex; align-items: center; margin-bottom: 15px; ">
    <app-basic-text-input (inputTextChanged)="onInputTextChanged($event)" ></app-basic-text-input>
    <app-simple-button [btnText]="btnPostCommentText" (click)="postCommentToDiscussion()"></app-simple-button>
    <br>
  </mat-card>

  <div *ngIf="answersShown">
    <app-comment-basic
    *ngFor="let _commentData of discussionData?.comments!"
    [commentData] = _commentData>
    </app-comment-basic>
    <br>
  </div>
  
   

  

  
  
